.bx-wrapper{
  margin: 0 auto !important;
  .bx-viewport{
    border: none !important;
    box-shadow: none !important;
    left: 0 !important;
    .bxslider{
      li{
        img{
          width: 100%;
        }
      }
    }
  }

  .bx-caption{
    background: none !important;
    width: 26% !important;
    left: 7% !important;
    bottom: 7% !important;
    span{
      font-size: (39em/16) !important;
      font-family: HelveticaNeue !important;
      font-weight: 300;
    }
  }

  .bx-prev{
    background: url("../images/controls.png") no-repeat !important;
    height: (41em/16) !important;
    left: 5% !important;
  }
  .bx-next{
    background: url("../images/controls.png") no-repeat !important;
    background-position: -24px 0 !important;
    height: (41em/16) !important;
    right: 5% !important;
  }

  .bx-pager{
    bottom:(15em/16)!important;
  }

  .bx-pager-link{
    background: #FFFFFF;
  }
}