@import 'mixin';

#wprmenu_bar{
z-index: 999999999 !important;
}

@media screen and (max-width: 35.5em){
  #header{
    .logo-wrapper{
      margin-top: (40em/16);
      img{
        margin: 0 auto;
      }
    }
  }

  .bx-viewport{
    height: (300em/16) !important;

    img{
      height: (300em/16) !important;
      width: (800em/16) !important;
      max-width: none !important;
    }
    .bx-caption{
      display: none;
    }
  }

  .reserve{
    font-size: 12px;
  }

  .item{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: (40em/16);
  }

  .main-menu{
    margin-bottom: (30em/16);
  }

  .comodidades,.block{
    .title{
      margin-top: (20em/16);
    }
  }

  #footer{
    .contact{
      margin-top: (40em/16);
    }
    .social{
      margin-left: 0;
    }
  }

  .links-footer{
    .item{
      margin-bottom: (40em/16);
    }
  }
  .contato{
    .form-wrapper{
      margin-top: (30em/16);
    }
  }
}



@media screen and (max-width: 48em){
  .facebook{
    display: none;
  }
  #header .menu{
    font-size: (13em/16);

  }

  .comodidades{
    .grid{
      margin-top: (40em/16);
    }
  }

}

@media screen and (max-width: 50em){
  #menu-header-menu{
    display: none;
  }
}


@media screen and (max-width: 64em){
  .trip{
    .left,.right{
      float: none !important;
    }
  }
}