@font-face {
  font-family: 'bilbao';
  src: url("../fonts/bilbao-webfont.eot");
  src: url("../fonts/bilbao-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bilbao-webfont.woff2") format("woff2"), url("../fonts/bilbao-webfont.woff") format("woff"), url("../fonts/bilbao-webfont.ttf") format("truetype"), url("../fonts/bilbao-webfont.svg#bilbaoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'andralis';
  src: url("../fonts/andralisndosf-webfont.eot");
  src: url("../fonts/andralisndosf-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andralisndosf-webfont.woff2") format("woff2"), url("../fonts/andralisndosf-webfont.woff") format("woff"), url("../fonts/andralisndosf-webfont.ttf") format("truetype"), url("../fonts/andralisndosf-webfont.svg#andralis_nd_osfregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  background-image: url("../images/pattern-bg.jpg");
  background-position: center top;
  background-size: 100% auto;
  border-top: solid 0.625em #FD0000;
  position: relative; }

.site {
  margin: 0;
  box-sizing: border-box; }

.left {
  float: left; }

.right {
  float: right; }

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%; }

.wrapper-index {
  width: 90%; }

#header {
  margin-top: 2.875em; }
  #header .logo a {
    width: 12.8125em;
    height: 3.9375em;
    background: url("../images/logo.png");
    display: block;
    text-indent: -9999px; }
  #header .menu-icon {
    margin-top: 0.625em; }
    #header .menu-icon a {
      width: 2.3125em;
      height: 2.75em;
      background: url("../images/mobile-menu.png");
      display: block;
      text-indent: -9999px; }

.social {
  display: block;
  margin-top: 0.625em; }
  .social li {
    float: left;
    list-style: none;
    margin-right: 0.625em; }
    .social li .social-icon {
      width: 2.75em;
      height: 2.75em;
      background-image: url("../images/social-icon.png");
      display: block; }
      .social li .social-icon.oleo {
        background-position: 0px -53px; }
        .social li .social-icon.oleo:hover {
          background-position: 0 0; }
      .social li .social-icon.tripadvisor {
        background-position: -55px -53px; }
        .social li .social-icon.tripadvisor:hover {
          background-position: -55px 0; }
      .social li .social-icon.google {
        background-position: -109px -53px; }
        .social li .social-icon.google:hover {
          background-position: -109px 0; }
      .social li .social-icon.facebook {
        background-position: -162px -53px; }
        .social li .social-icon.facebook:hover {
          background-position: -162px 0; }

.site {
  height: 100%; }

.menu-wrapper {
  background: url("../images/pattern-bg-verde.jpg");
  background-size: contain;
  position: relative; }
  .menu-wrapper:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.625em;
    left: 0;
    top: -0.625em;
    background: #FDCA33; }

.page-tpl #header .logo a {
  background: url("../images/logo-white.png"); }
.page-tpl #header .menu-icon {
  margin-top: 0.625em; }
  .page-tpl #header .menu-icon a {
    background: url("../images/mobile-menu-white.png"); }

.page-title {
  font-family: bilbao;
  font-size: 1.875em;
  margin-top: 2em;
  margin-bottom: 1.33333em; }

.paragraph {
  font-family: andralis;
  margin: 3.125em 9%;
  line-height: 1.375em; }

.the-history .paragraph {
  position: relative; }
  .the-history .paragraph:last-child:before {
    content: "";
    height: 0.6875em;
    width: 100%;
    left: 0;
    bottom: -3.125em;
    position: absolute;
    background: url("../images/miscelanea.png") no-repeat; }

.section-img {
  position: relative;
  box-shadow: 10px 25px 80px -16px #000;
  width: 125%;
  z-index: 999; }
  .section-img .deco-img {
    position: absolute;
    top: 38%;
    right: -50%;
    content: "";
    z-index: 99999;
    background-size: contain !important; }
  .section-img .history-img-1 {
    width: 21.125em;
    height: 9.125em;
    background: url("../images/history-img-legend-1.png") no-repeat; }
  .section-img .history-img-2 {
    width: 23.5625em;
    height: 7.9375em;
    background: url("../images/history-img-legend-2.png") no-repeat; }

.content {
  box-sizing: border-box;
  margin: 0 7%; }

.products-list {
  margin: 3.125em 10% 0 20%;
  font-family: andralis; }
  .products-list > li {
    border-bottom: solid 1px #000000;
    margin-bottom: 1.25em; }
    .products-list > li:last-child {
      border-bottom: none; }
  .products-list .product-img-container {
    height: inherit !important; }
  .products-list .products-details {
    position: relative; }
    .products-list .products-details .product-img {
      z-index: 999999;
      width: 100%; }
    .products-list .products-details .product-title {
      color: #ED1C24;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none; }
    .products-list .products-details .product-description p {
      margin: 0.9375em 0; }

.mobile-menu-wrapper {
  font-family: bilbao;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  right: -100%;
  min-height: 100%;
  background: url("../images/pattern-bg-rojo.jpg");
  background-size: cover;
  text-transform: uppercase;
  margin: 0;
  width: 45%;
  z-index: 999999; }
  .mobile-menu-wrapper .buttons-nav {
    margin-top: 2.875em; }
  .mobile-menu-wrapper a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.125em;
    line-height: 2.5em;
    display: table; }
  .mobile-menu-wrapper .close {
    font-size: 0.875em;
    line-height: 4.5em;
    cursor: pointer; }
  .mobile-menu-wrapper .logo {
    margin-left: 20%; }
  .mobile-menu-wrapper:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.625em;
    left: 0;
    top: -0.625em;
    background: #ED1C24; }

#menu-mobile-menu {
  margin-top: 1.25em; }
  #menu-mobile-menu li {
    border-bottom: dotted 2px #B24242;
    position: relative; }
    #menu-mobile-menu li:hover:not(.icon-inaki):before {
      position: absolute;
      content: "";
      top: 0.5em;
      left: 3%;
      background: url("../images/menu-icons.png") no-repeat;
      width: 1.5em;
      height: 1.625em; }
    #menu-mobile-menu li a {
      margin-left: 13%; }

.icon {
  position: relative; }
  .icon:before {
    position: absolute;
    content: "";
    top: 0;
    left: 3%;
    background: url("../images/menu-icons.png") no-repeat;
    width: 1.5em;
    height: 1.625em; }
  .icon.icon-inaki:before {
    top: 0.5em;
    background-position: 0 -26px; }
  .icon.icon-inaki a {
    position: relative; }
    .icon.icon-inaki a:after {
      content: "EN CASA";
      position: absolute;
      top: 0;
      right: -215%;
      top: 0;
      width: 200%;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold; }
  .icon.icon-close:before {
    top: 1.125em;
    left: -80%;
    background-position: 0 -52px; }

.site .mobile-menu-wrapper {
  width: 100%; }

.contact {
  margin-top: 3.75em; }

.acf-map {
  position: relative;
  position: relative;
  box-shadow: 10px 25px 80px -16px #000;
  width: 125%;
  z-index: 999;
  margin-top: 3.75em; }
  .acf-map:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .acf-map > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.random-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none; }
  .random-img img {
    transition: opacity .5s ease; }
  .random-img .random-title {
    color: #ED1C24;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.125em;
    line-height: 1em;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: "Arial Black";
    transition: opacity .5s ease;
    opacity: 0; }
  .random-img:hover img {
    opacity: 0.35; }
  .random-img:hover .random-title, .random-img:hover .random-more {
    opacity: 1; }
  .random-img .random-more {
    color: #000;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-family: "andralis";
    transition: opacity .5s ease;
    opacity: 0;
    font-style: italic;
    font-size: 1.25em; }

#tooltip-containter {
  margin-top: 0.625em;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  line-height: 0.3125em;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  margin-left: 0.9375em;
  padding: 1.25em;
  position: relative;
  margin-left: -5px;
  opacity: 0; }
  #tooltip-containter:before {
    position: absolute;
    content: "";
    left: -10px;
    top: 35%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    z-index: 99; }

.in-house .page-title {
  margin-bottom: 3.75em; }

/*# sourceMappingURL=style.css.map */
