@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.otf") format("opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Md.otf") format("opentype"), url("../fonts/HelveticaNeueLTStd-Md.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Lt.otf") format("opentype"), url("../fonts/HelveticaNeueLTStd-Lt.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLTStd-Th.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Th.otf") format("opentype"), url("../fonts/HelveticaNeueLTStd-Th.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Th.ttf") format("truetype"), url("../fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th") format("svg");
  font-weight: 300;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "HelveticaNeue"; }

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto; }

figure {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  position: relative; }
  figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.left {
  float: left; }

.right {
  float: right; }

#header {
  padding-top: 1.875em;
  position: relative; }
  #header .logo-wrapper {
    margin-bottom: 0.9375em;
    display: block; }
  #header .menu {
    float: right; }
    #header .menu li {
      float: left;
      font-size: 0.875em;
      margin-right: 1.78571em; }
      #header .menu li a {
        color: #676159;
        text-decoration: none;
        padding: 0.71429em 1.07143em 1.07143em;
        display: block; }
      #header .menu li:hover, #header .menu li.current-menu-item {
        background: #8CC76E; }
        #header .menu li:hover a, #header .menu li.current-menu-item a {
          color: #FFFFFF; }
  #header .header-contact {
    position: absolute;
    top: 0.9375em;
    right: 2.5em;
    z-index: 999; }
    #header .header-contact li {
      float: left;
      width: 1.75em;
      height: 1.6875em;
      background: url("../images/contact-icons.png") no-repeat;
      margin-left: 0.9375em; }
      #header .header-contact li.whatsapp {
        background-position: -2.8125em 0; }
      #header .header-contact li.telephone {
        background-position: -5.375em 0; }

.carousel {
  margin: 0 auto;
  max-width: 80em;
  margin-bottom: 2.8125em;
  position: relative; }
  .carousel.home-slider .reserve {
    position: absolute;
    bottom: 1.125em;
    right: 13%; }
    .carousel.home-slider .reserve a {
      font-size: 1.0625em;
      color: #FFFFFF;
      text-decoration: none;
      background: #8CC76E;
      padding: 1.17647em 1.76471em;
      box-sizing: border-box;
      letter-spacing: 0.05882em; }
      .carousel.home-slider .reserve a:hover {
        background: #71BA4E; }
  .carousel.home-slider img {
    width: 100%; }

.main-menu {
  margin-bottom: 6.25em; }
  .main-menu p {
    margin: 0; }

.item {
  text-align: center;
  margin-right: 5%; }
  .item:last-child {
    margin-right: 0; }
  .item a {
    text-decoration: none;
    color: #676159; }
    .item a:hover {
      opacity: .70 !important; }
  .item .page-title {
    font-size: 0.8125em;
    font-weight: 400;
    margin-top: 5.38462em;
    position: relative; }
    .item .page-title:before {
      content: "";
      height: 3em;
      width: 2.46154em;
      left: 50%;
      transform: translate(-50%, 0);
      top: -3.84615em;
      position: absolute;
      background: url("../images/main-menu-icons.png") no-repeat;
      background-size: cover; }
    .item .page-title.visite:before {
      background-position: -3.07692em 0; }
    .item .page-title.localizacao:before {
      background-position: -6.46154em 0; }
  .item .entry {
    font-size: 1.3125em;
    margin-top: 0.2381em;
    position: relative;
    color: #676159;
    font-weight: 500; }
    .item .entry:before {
      content: "";
      height: 0.15385em;
      width: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: -0.76923em;
      position: absolute;
      background: #8CC76E; }

.extras {
  margin-bottom: 6.25em; }
  .extras .title {
    font-weight: 500;
    margin-bottom: 1.25em;
    color: #676159; }
  .extras .list {
    margin-top: 1.25em; }
    .extras .list p {
      font-size: 0.875em;
      margin: 0.35714em;
      color: #676159; }
  .extras figure {
    padding-bottom: 68.25%; }
  .extras .more {
    color: #8CC76E;
    font-size: 0.625em;
    text-decoration: none;
    border: solid 1px #8CC76E;
    padding: 0.41667em 0.83333em;
    margin-top: 1.66667em;
    display: table;
    font-weight: 500; }
    .extras .more:hover {
      color: #ffffff;
      background: #8CC76E; }
  .extras .block {
    margin-bottom: 4.0625em; }
  .extras .visite p {
    line-height: 1.6em;
    margin: 0; }
  .extras .facebook {
    border-left: solid 1px #D7D7D7;
    padding: 0 1.25em; }
    .extras .facebook .trip {
      margin-top: 1.25em; }
    .extras .facebook .fb-title {
      color: #676159;
      font-size: 0.75em;
      text-align: center;
      margin-bottom: 0.83333em; }
  .extras .horarios {
    font-size: 0.9375em;
    color: #8CC76E;
    font-weight: 500;
    margin-top: 2.66667em;
    display: block; }
  .extras .reserve a {
    display: table;
    font-size: 1.0625em;
    color: #FFFFFF;
    text-decoration: none;
    background: #8CC76E;
    padding: 0.70588em 1.05882em;
    box-sizing: border-box;
    letter-spacing: 0.05882em;
    margin-top: 2.35294em; }

#footer {
  background: #58595B;
  box-sizing: border-box;
  padding: 3.4375em 0; }
  #footer form {
    margin-top: 1.25em; }
    #footer form span {
      color: #E6E7E8;
      font-size: 0.75em; }
    #footer form input[type="text"], #footer form input[type="email"] {
      width: 10.9375em;
      line-height: 1.875em;
      border: none;
      margin-bottom: 0.625em; }
    #footer form input[type="submit"] {
      background: #8CC76E;
      font-size: 0.75em;
      color: #E6E7E8;
      line-height: 2.5em;
      border: none;
      margin-left: 0.41667em; }
    #footer form .captcha-img {
      float: left; }
    #footer form .code {
      float: left;
      width: 20% !important; }
  #footer .title {
    color: #E6E7E8;
    font-size: 0.875em;
    line-height: 2.35714em;
    text-decoration: none;
    border: solid 1px #E6E7E8;
    padding: 0 0.71429em;
    display: table;
    font-weight: 500; }
    #footer .title.contacto {
      padding: 0 1.78571em; }
  #footer .phones, #footer .social {
    float: left;
    display: table; }
    #footer .phones li, #footer .social li {
      float: left;
      font-size: 1.0625em;
      color: #E6E7E8;
      font-weight: 500;
      letter-spacing: 1px;
      position: relative; }
      #footer .phones li:before, #footer .social li:before {
        content: "";
        position: absolute; }
  #footer .phones {
    margin-top: 1.875em; }
    #footer .phones li {
      line-height: 2.4375em;
      margin-right: 1.875em;
      padding-left: 2.1875em; }
      #footer .phones li:before {
        height: 2.375em;
        width: 1.5em;
        left: 0;
        background: url("../images/phone-icon.png") no-repeat; }
      #footer .phones li.cel:before {
        background-position: -3.125em 0; }
      #footer .phones li.wtsp {
        padding-left: 0; }
        #footer .phones li.wtsp:before {
          width: 3.125em;
          left: 40px; }
        #footer .phones li.wtsp img {
          margin-right: 2.5em; }
  #footer .social {
    margin-top: 1.6875em;
    margin-left: 1.875em;
    display: table; }
    #footer .social li {
      width: 2.4375em;
      height: 2.4375em;
      background: url("../images/social-icon-2.png") no-repeat;
      margin-right: 0.625em; }
      #footer .social li a {
        display: table;
        width: 100%;
        height: 100%; }
      #footer .social li:last-child {
        margin-right: 0; }
      #footer .social li.fb {
        background-position: 0 0; }
      #footer .social li.inst {
        background-position: -2.9375em 0; }
      #footer .social li.trip {
        background-position: -5.8125em 0; }
  #footer .copy {
    clear: both;
    font-size: 0.8125em;
    color: #E6E7E8;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 2.14286em;
    display: table;
    line-height: 1.38462em; }
    #footer .copy div {
      position: relative;
      padding-left: 3.38462em; }
      #footer .copy div:before {
        height: 2.53846em;
        width: 2.53846em;
        position: absolute;
        left: -0.38462em;
        content: "";
        background: url("../images/gps.png") no-repeat; }

.trip #CDSWIDEXC {
  margin: 0;
  width: 120px; }
.trip .cdsROW.narrow {
  width: 120px; }

.page-wrapper .item {
  margin-bottom: 3.125em;
  margin-right: 0; }
.page-wrapper .page-title {
  font-size: 0.8125em !important; }
.page-wrapper .entry {
  font-size: 1.6875em !important; }
  .page-wrapper .entry:before {
    width: 7% !important; }
.page-wrapper .page-text {
  margin-bottom: 3.75em;
  color: #676159; }
.page-wrapper .page-extras {
  color: #676159;
  margin-bottom: 5.875em; }
  .page-wrapper .page-extras .extras-title {
    font-weight: 500;
    margin-bottom: 0.625em; }
  .page-wrapper .page-extras .extras-content ul {
    list-style: disc;
    margin: inherit;
    padding: inherit;
    margin-left: 0.9375em; }
    .page-wrapper .page-extras .extras-content ul li {
      font-size: 0.9375em;
      line-height: 1.66667em; }

.links-footer {
  background: #F1F2F2;
  padding: 0 0 2.5em;
  font-size: 1em; }
  .links-footer .item {
    margin: 0; }
    .links-footer .item .page-title {
      margin-top: 5em; }

.maresias .extras-content p {
  font-size: 0.75em; }
.maresias .extras-content span {
  font-size: 1.25em !important; }
.maresias .resto-list {
  width: 100%; }
  .maresias .resto-list tr {
    border-bottom: solid 1px #B3B0AC; }
    .maresias .resto-list tr:last-child {
      border: none; }
  .maresias .resto-list td:nth-child(odd) {
    font-size: 0.9375em !important;
    color: #8CC76E;
    width: 50%;
    padding: 0.66667em 0; }
  .maresias .resto-list td:nth-child(even) {
    font-size: 0.75em;
    width: 50%;
    text-align: right;
    padding: 0.83333em 0; }

.acf-map {
  position: relative;
  position: relative;
  width: 100%;
  z-index: 999; }
  .acf-map:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .acf-map > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.map-wrapper {
  margin-bottom: 3.4375em; }

.location .address {
  color: #676159;
  font-size: 0.875em;
  text-align: center;
  font-weight: 500;
  line-height: 1.78571em;
  padding-bottom: 2.85714em;
  border-bottom: solid 1px #C9C8C8;
  margin-bottom: 2.85714em; }
.location .distances {
  color: #8CC76E; }
  .location .distances h2 {
    margin-bottom: 1.875em;
    padding-left: 20%; }
  .location .distances ul {
    list-style: disc;
    display: table;
    margin: 0 auto; }
    .location .distances ul li {
      line-height: 1.875em; }

.contato .home-img {
  margin-bottom: 3.125em; }
  .contato .home-img img {
    width: 100%; }
.contato .title {
  color: #231F20;
  font-size: 1.25em;
  font-weight: 500; }
.contato .subtitle {
  color: #808285;
  font-size: 0.6875em; }
.contato .contact-data {
  margin-top: 1.5625em;
  display: table; }
  .contato .contact-data li {
    font-size: 0.875em;
    color: #676159;
    font-weight: 500;
    border-bottom: solid 1px #B3B0AC;
    padding: 1.28571em 0;
    padding-right: 0.71429em;
    position: relative; }
    .contato .contact-data li:last-child {
      border: none; }
    .contato .contact-data li:before {
      content: "";
      height: 2.5em;
      width: 2.14286em;
      left: -3.92857em;
      top: 0.35714em;
      position: absolute;
      background: url("../images/iconos-contacto.png") no-repeat;
      background-size: cover; }
    .contato .contact-data li.gps:before {
      background-position: 0 -30px;
      top: 1.64286em; }
    .contato .contact-data li.mobile:before {
      background-position: 0 -70px; }
    .contato .contact-data li.phone:before {
      background-position: 0 -112px; }
    .contato .contact-data li.mail a {
      text-decoration: none;
      color: #676159; }
    .contato .contact-data li.mail:before {
      background-position: 0 -160px; }
.contato .page-wrapper {
  margin-bottom: 17.5em; }
.contato form {
  margin-top: 1.875em;
  color: #58595B;
  font-size: 0.75em; }
  .contato form label, .contato form input {
    display: block; }
  .contato form label {
    font-weight: 500; }
  .contato form input[type="text"], .contato form input[type="email"], .contato form input[type="tel"] {
    margin-bottom: 1.25em;
    height: 1.4375em;
    line-height: 1.4375em;
    border: solid thin #D3D4D5;
    width: 100%; }
  .contato form textarea {
    border: solid thin #D3D4D5;
    width: 100%;
    height: 5.8125em; }
  .contato form input[type="submit"] {
    background: #8CC76E;
    color: #FFFFFF;
    font-size: 1.25em;
    padding: 0.33333em 0.66667em;
    border: none;
    font-weight: 500;
    margin-top: 1.33333em;
    margin-right: -0.2em; }
  .contato form .captcha-img {
    float: left; }
  .contato form .code {
    float: left;
    width: 20% !important; }
  .contato form #msg {
    color: #71BA4E;
    font-weight: 500;
    margin-top: 0.9375em; }

.gallery {
  margin-bottom: 3.125em; }
  .gallery:nth-child(n+1) {
    margin-right: 5%; }
  .gallery .title-unit {
    color: #676159;
    font-size: 0.9375em;
    margin-bottom: 2.33333em; }
    .gallery .title-unit span {
      float: left; }
      .gallery .title-unit span p {
        margin: 0; }
    .gallery .title-unit .units {
      color: #908B86;
      font-size: 0.86667em;
      margin-left: 5%; }
  .gallery .thumbnail {
    margin-top: 1.25em;
    padding: 0 5%;
    box-sizing: border-box;
    cursor: pointer; }

.tooltip {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
