@import 'mixin.scss';

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype'),
  url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Md.otf')  format('opentype'),
  url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Lt.otf') format('opentype'),
  url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLTStd-Th.otf') format('opentype'),
  url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
  font-weight: 300;
  font-style: normal;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "HelveticaNeue";
}

.wrapper {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
}

figure {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  position: relative;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.left{
  float: left;
}

.right{
  float: right;
}

#header {
  padding-top: (30em/16);
  position: relative;

  .logo-wrapper {
    margin-bottom: (15em/16);
    display: block;
  }
  .menu {
    float: right;
    li {
      float: left;
      font-size: (14em/16);
      margin-right: (25em/14);

      a {
        color: #676159;
        text-decoration: none;
        padding: (10em/14) (15em/14) (15em/14);
        display: block;
      }

      &:hover, &.current-menu-item {
        background: #8CC76E;
        a {
          color: #FFFFFF;
        }
      }
    }
  }

  .header-contact{
    position: absolute;
    top:(15em/16);
    right: (40em/16);
    z-index: 999;
      li{
        float: left;
        width:(28em/16);
        height: (27em/16);
        background: url("../images/contact-icons.png") no-repeat;
        margin-left: (15em/16);

        &.whatsapp{
          background-position:(-45em/16) 0;
        }

        &.telephone{
          background-position:(-86em/16) 0;
        }
      }
  }
}

.carousel {
  margin: 0 auto;
  max-width: 80em;
  margin-bottom: (45em/16);
  position: relative;
  &.home-slider{
    .reserve{
      position: absolute;
      bottom: (18em/16);
      right: 13%;
      a{
        font-size: (17em/16);
        color: #FFFFFF;
        text-decoration: none;
        background: #8CC76E;
        padding: (20em/17) (30em/17);
        box-sizing: border-box;
        letter-spacing: (1em/17);

        &:hover{
          background: #71BA4E;
        }
      }
    }
    img{
      width: 100%;
    }
  }
}

.main-menu {
  margin-bottom: (100em/16);
  p {
    margin: 0;
  }

}



.item {
  text-align: center;
  margin-right: 5%;

  &:last-child{
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: #676159;
    &:hover{
      opacity: .70 !important;
    }
  }
  .page-title {
    font-size: (13em/16);
    font-weight: 400;
    margin-top: (70em/13);
    position: relative;

    &:before {
      content: "";
      height: (39em/13);
      width: (32em/13);
      left: 50%;
      transform: translate(-50%, 0);
      top: (-50em/13);
      position: absolute;
      background: url("../images/main-menu-icons.png") no-repeat;
      background-size: cover;
    }

    &.visite {
      &:before {
        background-position: (-40em/13) 0;
      }
    }

    &.localizacao {
      &:before {
        background-position: (-84em/13) 0;
      }
    }
  }
  .entry {
    font-size: (21em/16);
    margin-top: (5em/21);
    position: relative;
    color:#676159;
    font-weight: 500;

    &:before {
      content: "";
      height: (2em/13);
      width: 15%;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: (-10em/13);
      position: absolute;
      background: #8CC76E;
    }
  }
}



.extras {
  margin-bottom: (100em/16);
  .title {
    font-weight: 500;
    margin-bottom: (20em/16);
    color: #676159;
  }
  .list {
    margin-top: (20em/16);

    p {
      font-size: (14em/16);
      margin: (5em/14);
      color: #676159;
    }
  }

  figure {
    padding-bottom: 68.25%;
  }

  .more {
    color: #8CC76E;
    font-size: (10em/16);
    text-decoration: none;
    border: solid 1px #8CC76E;
    padding: (5em/12) (10em/12);
    margin-top: (20em/12);
    display: table;
    font-weight: 500;

    &:hover{
      color: #ffffff;
      background: #8CC76E;
    }
  }
  .block{
    margin-bottom: (65em/16);
  }

  .visite{
    p{
      line-height: (16em/10);
      margin: 0;
    }
  }

  .facebook{
    border-left:solid 1px #D7D7D7;
    padding: 0 (20em/16);
    .trip{
      margin-top: (20em/16);
    }
    .fb-title{
      color: #676159;
      font-size: (12em/16);
      text-align: center;
      margin-bottom: (10em/12);
    }
  }

  .horarios{
    font-size: (15em/16);
    color: #8CC76E;
    font-weight: 500;
    margin-top: (40em/15);
    display: block;
  }

  .reserve{
    a{
      display: table;
      font-size: (17em/16);
      color: #FFFFFF;
      text-decoration: none;
      background: #8CC76E;
      padding: (12em/17) (18em/17);
      box-sizing: border-box;
      letter-spacing: (1em/17);
      margin-top: (40em/17);
    }
  }
}

#footer{
  background: #58595B;
  box-sizing: border-box;
  padding: (55em/16) 0;

  form{
    margin-top: (20em/16);
    span{
      color: #E6E7E8;
      font-size: (12em/16);
    }
    input[type="text"],input[type="email"]{
      width: (175em/16);
      line-height: (30em/16);
      border: none;
      margin-bottom: (10em/16);
    }
    input[type="submit"]{
      background: #8CC76E;
      font-size: (12em/16);
      color: #E6E7E8;
      line-height: (40em/16);
      border: none;
      margin-left: (5em/12);
    }
  }
  .title{
    color: #E6E7E8;
    font-size: (14em/16);
    line-height: (33em/14);
    text-decoration: none;
    border: solid 1px #E6E7E8;
    padding: 0 (10em/14);
    display: table;
    font-weight: 500;

    &.contacto{
      padding: 0 (25em/14);
    }
  }

  .phones,.social{
    float: left;
    display: table;
    li{
      float: left;
      font-size: (17em/16);
      color: #E6E7E8;
      font-weight: 500;
      letter-spacing: 1px;
      position: relative;
      &:before {
        content: "";
        position: absolute;

      }
    }
  }

  .phones{
    margin-top: (30em/16);
    li{
      line-height:(39em/16);
      margin-right: (30em/16);
      padding-left: (35em/16);

      &:before{
        height: (38em/16);
        width: (24em/16);
        left: 0;
        background: url("../images/phone-icon.png") no-repeat;
      }

      &.cel{
        &:before{
         background-position: (-50em/16) 0;
        }
      }

      &.wtsp{
        padding-left:0;
        &:before{
          width: (50em/16);
          left: 40px;
        }
        img{
          margin-right: (40em/16);
        }
      }
    }
  }

  .social{
    margin-top: (27em/16);
    margin-left: (30em/16);
    display: table;
    li{
      width: (39em/16);
      height: (39em/16);
      background: url("../images/social-icon-2.png") no-repeat;
      margin-right: (10em/16);

      a{
        display: table;
        width: 100%;
        height: 100%;
      }
      &:last-child{
        margin-right: 0;
      }
      &.fb{
        background-position: 0 0;
      }
      &.inst{
        background-position: (-47em/16) 0;
      }
      &.trip{
        background-position: (-93em/16) 0;
      }
    }
  }

  .copy{
    clear: both;
    font-size: (13em/16);
    color: #E6E7E8;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: (30em/14);
    display: table;
    line-height: (18em/13);
    div{
      position: relative;
      padding-left: (44em/13);
      &:before{
        height: (33em/13);
        width: (33em/13);
        position: absolute;
        left: (-5em/13);
        content: "";
        background: url("../images/gps.png") no-repeat;
      }
    }
  }
}

.trip{
  #CDSWIDEXC{
    margin: 0;
    width: 120px;
  }
  .cdsROW.narrow{
    width: 120px;
  }
}

.page-wrapper{

  .item{
    margin-bottom: (50em/16);
    margin-right: 0;
  }

  .page-title {
    font-size: (13em/16) !important;
  }
  .entry{
    font-size: (27em/16) !important;
    &:before{
      width: 7% !important;
    }
  }


  .page-text{
    margin-bottom:(60em/16);
    color: #676159;
  }

  .page-extras{
    color: #676159;
    margin-bottom: (94em/16);
    .extras-title{
      font-weight: 500;
      margin-bottom: (10em/16);
    }

    .extras-content{
      ul{
        list-style: disc;
        margin: inherit;
        padding: inherit;
        margin-left: (15em/16);
        li{
          font-size: (15em/16);
          line-height: (25em/15);
        }
      }
    }

  }
}

.links-footer{
  background: #F1F2F2;
  padding: 0 0 (40em/16);
  font-size: (16em/16);
  .item{
    margin: 0;
    .page-title{
      margin-top: (80em/16);
    }
    .entry{
      //font-weight: bold;
    }
  }
}

.maresias{
  .extras-content{
    p{
      font-size: (12em/16);
    }
    span{
      font-size: (15em/12)  !important;
    }
  }

  .resto-list{
    width: 100%;

    tr{
      border-bottom:solid 1px #B3B0AC;
      &:last-child{
        border: none;
      }
    }

    td:nth-child(odd) {
      font-size: (15em/16)  !important;
      color:  #8CC76E;
      width: 50%;
      padding: (10em/15) 0;
    }

    td:nth-child(even) {
      font-size: (12em/16);
      width: 50%;
      text-align: right;
      padding: (10em/12) 0;
    }

  }
}

.acf-map {
  @include aspect-ratio(16, 9);
  position: relative;
  width: 100%;
  z-index: 999;
}

.map-wrapper{
  margin-bottom: (55em/16);
}

.location{
  .address{
    color: #676159;
    font-size: (14em/16);
    text-align: center;
    font-weight: 500;
    line-height: (25em/14);
    padding-bottom: (40em/14);
    border-bottom: solid 1px #C9C8C8 ;
    margin-bottom: (40em/14);
  }
  .distances{
    color: #8CC76E;
    h2{
      margin-bottom: (30em/16);
      padding-left: 20%;
    }
    ul{
      list-style: disc;
      display: table;
      margin: 0 auto;
      li{
        line-height: (30em/16);
      }
    }
  }
}

.contato{
  .home-img{
    margin-bottom: (50em/16);
    img{
      width: 100%;
    }
  }
  .title{
    color: #231F20;
    font-size: (20em/16);
    font-weight: 500;
  }
  .subtitle{
    color: #808285;
    font-size: (11em/16);
  }

  .contact-data{
    margin-top: (25em/16);
    display: table;
    li{
      font-size: (14em/16);
      color:#676159;
      font-weight: 500;
      border-bottom: solid 1px #B3B0AC;
      padding:(18em/14) 0;
      padding-right:(10em/14);
      position: relative;

      &:last-child{
        border: none;
      }

      &:before{
        content: "";
        height: (35em/14);
        width: (30em/14);
        left: -(55em/14);
        top: (5em/14);
        position: absolute;
        background: url("../images/iconos-contacto.png") no-repeat;
        background-size: cover;
      }

      &.gps{
        &:before{
          background-position: 0 -30px;
          top: (23em/14);
        }
      }
      &.mobile{
        &:before{
          background-position: 0 -70px;
        }
      }

      &.phone{
        &:before{
          background-position: 0 -112px;
        }
      }

      &.mail{
        a{
          text-decoration: none;
          color:#676159;
        }
        &:before{
          background-position: 0 -160px;
        }
      }
    }
  }
  .page-wrapper{
    margin-bottom: (280em/16);
  }

  form{
    margin-top: (30em/16);
    color: #58595B;
    font-size: (12em/16);
    label,input{
      display: block;
    }
    label{
      font-weight: 500;
    }

    input[type="text"]{
      margin-bottom:(20em/16);
      height: (23em/16);
      line-height: (23em/16);
      border: solid thin #D3D4D5;
      width: 100%;
    }
    textarea{
      border: solid thin #D3D4D5;
      width: 100%;
      height: (93em/16);
    }

    input[type="submit"]{
      background: #8CC76E;
      color: #FFFFFF;
      font-size: (15em/12);
      padding: (5em/15) (10em/15);
      border: none;
      font-weight: 500;
      margin-top:(20em/15);
      margin-right: (-3em/15);
    }

  }
}

.gallery{
  margin-bottom: (50em/16);
  &:nth-child(n+1){
    margin-right: 5%;
  }
  .title-unit{
    color:#676159;
    font-size: (15em/16);
    margin-bottom: (35em/15);
    span{
      float: left;
      p{
        margin: 0;
      }
    }
    .units{
      color: #908B86;
      font-size: (13em/15);
      margin-left: 5%;
    }
  }
  .thumbnail{
    margin-top: (20em/16);
    padding: 0 5%;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.tooltip{
  cursor: pointer;
}